* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #253659;
}

.content {
    width: 40%;
    margin: 10px auto;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    background-color: #F0F0F2;
}

.title { 
    margin-bottom: 20px;
    font-size: 40px;
    padding: 8px 20px;
    border: 1px solid black;
    background-color: #253659;
    border-radius: 8px;
    color: #F0F0F2;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    width: 50%;
    margin: 0 auto;
}

a > li {
    padding: 10px;
    align-items: center;
    background-color: #8C2626;
    font-size: 24px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #F0F0F2;
}



/* Color Theme Swatches in Hex */
.Flavour-1-hex { color: #F0F0F2; }
.Flavour-2-hex { color: #253659; }
.Flavour-3-hex { color: #8C5535; }
.Flavour-4-hex { color: #D9967E; }
.Flavour-5-hex { color: #8C2626; }